/** @format */

.header_container {
  height: 100px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    137deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 117, 1) 44%,
    rgba(78, 0, 255, 0.9634783434650456) 100%
  );
}

.nav_container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.headerTitle {
  font-weight: 900;
  font-size: 1.5rem;
  color: white;
}

.headerTitle:hover {
  color: aqua;
  cursor: pointer;
}

.logo {
  width: 40px;
  height: 40px;
  background: transparent;
}
